NODE_ENV=development
PORT=3000
DATABASE_URI="mongodb+srv://dynannran:hXvnSrSRPJP3rupf@cluster0.jcugj.mongodb.net/pinterest-clone"
JWT_SECRET="$@ZbN#/WSaEGNL_v#UW5L4$x:xmTP9"
JWT_EXPIRE_DURATION=2592000
SALT_ROUND=10
BASE_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=drbu4euxj
CLOUDINARY_API_KEY=136364543638252
CLOUDINARY_API_SECRET=Af1YkmRTTrHL56Nfpghwu4WLBY8